<!DOCTYPE html>
<html>
  <head>
    <title>BookstoreApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <h5 class="my-0 mr-md-auto font-weight-normal"> Sheffield Bookstore </h5>
       <%=link_to "Home", '/static_pages/home'%>
       <%=link_to "About Us", '/static_pages/about'%>
       <%=link_to "Contact Us", '/static_pages/contact'%>

  <div class="container">
      <%= yield %>
  </div>
  <a class="p-2 text-dark" href="#"> <%= link_to 'Add New Book',
new_book_path %> </a>
  </body>
</html>



